@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: lightgray;
}

.title {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.title-img-container {
	position: absolute;
	top: 0;
	left: -100%;
	right: 0;
	bottom: 0;
	display: flex;
}
.title-img-container > div{
	position:relative;
	width: 100%;
}
.title-img{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
}
.animation{
	transition: all 0.5s;
}

.title-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.5);
}

.gnb {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	overflow: hidden;
	height: 31px;
	z-index: 1;
}
.gnb > a > img{
	height:180px;
}
.gnb > a{width: 5rem;}
.email {
	color: white;
	line-height: 31px;
	font-size: 21px;
	flex-shrink: 0;
}
.email > a{
	text-decoration:none;
	color:white;
}

.title-img-page {
	font-size: 2em;
	width: 150px;
	margin: auto;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 30px;
}

.img-changer-container {
	position: absolute;
	display: flex;
	justify-content: space-around;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 0.5em;
	font-size: 3em;
	color: white;
	align-items: center;
}
.product-description {
	background-color: white;
	padding-bottom: 1.5em;
}
.product-description-detail{
overflow: hidden;
}

.more-description {
	background-color: #e9e9e9;
	height: 2em;
	line-height: 2em;
	color: #686868;
	margin-bottom: 10px;
}

.event-info {
	background-color: #fbfdd8;
	margin-bottom: 10px;
	padding: 0.5em;
	text-align:start
}
.event-info > div{
	padding-left: 1em;
}
.event-info > div > img{
	height: 1.5em;
	vertical-align: text-bottom;
}

hr {
	width: 95%;
}

.reservation-button {
	background-color: #0fc234;
	margin-bottom: 10px;
	height: 3em;
	line-height: 3em;
	font-size: 22px;
	color: white;
	border: none;
	width: 100%;
	cursor: pointer;
}
.reservation-button > img{
	vertical-align:sub;
}

.review-container {
	background-color: white;
	text-align: left;
	padding: 10px;
}

.review-summary{
	
border-bottom: 1px solid gray;
	
padding-bottom: 10px;
	
font-weight: bold;
	
font-size: 1em;
}
.review-summary > span{
}
.number-box{
	color:gray;
	float:right;
}

.filled-stars{
	display:inline-block;
	color:red;
}
.empty-stars{
	display:inline-block;
	position:relative;
	color:gray;
}
.average-rate{
	font-weight:bold;
}
.max-rate{
	color:gray;
}
.number{color:green;}

.review{position: relative;border-bottom: 1px solid gray;padding: 10px 0;}
.review-content{
	margin-bottom:0.5em;
}
.review-content > span:first-child{
	font-weight:bold;
}
.user-footprint{
	color:gray;
}
.user-footprint > span:first-child{
	color:black;
	font-weight:bold;
}
.review-page-comment{
	padding:10px;
}
.review-page-comment > img{
	height:1em;
}

.more-review{
	background-color: #f7f7f7;
	height:3em;
	line-height:3em;
	margin-bottom:10px;
	width: 100%;
	border: none;
	cursor: pointer;
	font-weight: bold;
}
/*more review 페이지 --*/
.review-header{
	text-align:center;
	background-color:white;
	height:2em;
	font-size:2em;
	line-height:2em;
	margin-bottom:0.5em;
	padding: 0 1em;
}
.review-header > span{
	float:left;
}
/* -- more review 페이지*/
.detail-and-map-tab{
	
background-color: white;
	
display: flex;
	
justify-content: space-around;
	
height: 3em;
	
line-height: 3em;
	
font-weight: bold;
	
list-style: none;
	
padding: 0;
}
.detail-and-map-tab > li{
	cursor:pointer;	
}
.detail-and-map-tab > li:active{
	color:green;
	border-bottom:solid 2px green;
}
.detail-or-map{
	background-color:white;
	border-top: 1px solid gray;
	padding: 1em;
	margin-bottom:1em;
}
.detail-or-map img{
	height:1em;
	width:1em;
}
.detail-info-description{
	padding:1em;
	margin-bottom: 1em;
}
.description{
	text-align:left;
	margin-bottom:1em;
}
.description > span{
	font-weight:bold;
}
.notice{
	text-align:left;
	font-weight:bold;
}
.notice > img{
	width:100%;
	height:100%;
}

.road-map-img-container > img{
	background-color:red;
	height:100%;
	width:100%;

}
.address{
	text-align:left;
}
.address-title{
	font-size:1.5em;
	font-weight:bold;
}
.address-detail{
	display:flex;
	font-weight:550;
	margin-bottom:1em;
}
.address-detail span{
	color:gray
}
.address-phone-number{
	font-weight:550;
	margin-bottom: 1em;
}
.navigation-bar{
	display:flex;
	justify-content: space-evenly;
	align-items:center;
	height: 3em;
	background-color:lightgray;
	color: gray;
}

.footer-detail{
	font-size:0.6em
}
.review-header{
	cursor:pointer;
}
.review-img{}
.review-img > img{
	margin-top: 0.5em;
	height: 5em;
}